.label {
	text-align: left;
	display: block;
	margin: 0;
	margin-top: 1rem;
}

.input {
	width: 100%;

	padding: 1rem 1.25rem 1rem 0;
	text-indent: 1rem;
	margin-top: 0.5rem;
	background: rgb(241, 242, 243);
	border: 1px;
	border-radius: 4px;
	outline: none;
	transition: all 0.3s ease-in-out 0s;
	min-height: 2rem;

	&:focus-within {
		background: none;
		box-shadow: black 0px 0px 0px 1px;
	}
}

.input[type="checkbox"] {
	display: inline;
	margin: 0rem;
	width: 1.5rem;
	height: 1rem;
	accent-color: black;
}
.error {
	color: #ff0033;
}

.errorMessage {
	margin-top: 5px;
	color: #ff0033;
	font-size: 0.8rem;
}

.input.error {
	margin-bottom: 0;
	color: inherit;
	box-shadow: #ff0033 0px 0px 0px 1px;

	&:focus-within {
		box-shadow: #ff0033 0px 0px 0px 1.3px;
	}
}

.agreement {
	margin-bottom: 0.5rem;
	gap: 1rem;
	justify-content: start;

	label {
		margin-top: 0rem !important;
		padding-bottom: 0.5rem;
		font-size: 1rem;
		display: inline;
		width: auto;
	}

	.checkbox {
		display: inline;
		margin: 0rem;
		width: 1.5rem;
		height: 1rem;
		accent-color: black;
	}
}
