@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
	html {
		font-size: 14px;
	}
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
	html {
		font-size: 16px;
	}
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 100em) {
	html {
		font-size: 18px;
	}
}

section {
	margin-bottom: 7rem;
}
section:first-of-type {
	margin-bottom: 0rem;
}

body {
	overflow-x: hidden;
}

@media only screen and (max-width: 850px) {
	.noScroll {
		overflow: hidden;
	}
}


